body {
	position: relative;
	/* Blue/$dark-blue */

	background: #051D3B;
	border-top-left-radius: 40px;
	border-top-right-radius: 40px;
	

}

header {
	display: flex;
	align-items: center;
	justify-content: space-between;
	
	position: absolute;
	width: 90%;
	height: 56px;
	left: 32px;
	top: 32px;	


	
}

.logo {

	height: 34.05px;
	
}

.busca {

	height: 56px;

	

	

}

.perfil {
	/* Auto Layout */

	height: 56px;
	
}