body {
background: #051D3B;
border-radius: 40px;
font-size: 16px;
}

.cabecalho {
	margin: 2rem 2rem 2rem 2rem;

}

.logo {

	height: 4vh;
	cursor: pointer;
	}

.busca {

	height: 8vh;
	width:  50vw;
	border-radius: 8px;
	background: rgba(255, 255, 255, 0.16);
	border: none;

	font-family: Inter;
	font-style: normal;
	font-weight: normal;
	font-size: 1rem;
	line-height: 1.5rem;
	
}

.busca-mobile {
	display: none;
}

.perfil {
	height: 8vh;
}

.burger {
	display: none;
}

.burger div{
	width: 20px;
	height: 2px;
	margin-bottom: 3px;
	background-color: #ffffff;
	transition: all 0.3s ease;
}

.principal {
	margin: 0 2rem 0 2rem;
}
.titulo {
	/* Sidebar title */

	font-family: Inter;
	font-style: normal;
	font-weight: normal;
	font-size: 0.75rem;
	line-height: 1.125rem;
	/* identical to box height, or 150% */

	letter-spacing: 0.4em;
	text-transform: uppercase;

	/* Neutral/$white */

	color: #FFFFFF;
	margin-bottom: 1rem;

}

.menu-lista {
	
	margin-left: 1rem;
	font-family: Inter;
	font-style: normal;
	font-weight: normal;
	font-size: 1rem;
	line-height: 1.5rem;
	text-decoration: none;
	
/* identical to box height, or 150% */


/* Neutral/$white */

	color: #ffffff;
}

.comunidade-txt {

	font-family: Inter;
	font-style: normal;
	font-weight: normal;
	font-size: 16px;
	line-height: 24px;
/* identical to box height, or 150% */


/* Neutral/$white */

color: #FFFFFF;

}

.menu-editor {
	margin-bottom: 1rem;
}

.perfil-mobile {
	display: none;
}
hr {
	display: none;
}

.codigo-wrapper{
	height: 100%;
	width: 50vw;
	white-space: pre-wrap;
	
}

#code {
	
	display: block;
   	height: 50vh;
	padding: 3.25rem 1rem 1rem 1rem;
	border-width: 2rem;
	border-style: solid;
	border-color: #6BD1FF;
	border-radius: 8px;
	
	

	font-family: Roboto Mono;
	font-style: normal;
	font-weight: normal;
	font-size: 14px;
	line-height: 18px;

/* Neutral/$white */

	color: #FFFFFF;
}

.botao-highlight {
	width: 50vw;
	height: 3.25rem;
	background: rgba(80, 129, 251, 0.08);
	border-style: none;
	border-radius: 8px;
	margin-top: 1rem;

	font-family: Inter;
	font-style: normal;
	font-weight: normal;
	font-size: 1rem;
	line-height: 1.5rem;

	
/* identical to box height, or 150% */

	text-align: center;
	cursor: pointer;

/* Neutral/$white */

	color: #FFFFFF;

}

.nome-projeto {
	
	background: rgba(255, 255, 255, 0.16);
	border-radius: 8px;
	border-style: none;
	height: 3rem;

	font-family: Inter;
	font-style: normal;
	font-weight: normal;
	
	
/* identical to box height, or 150% */


/* Neutral/$white */

color: #FFFFFF;



}

.descricao-projeto {
	margin: 1rem 0 1rem 0;
	height: 5rem;
	background: rgba(255, 255, 255, 0.16);
	border-radius: 8px;
	font-family: Inter;
	font-style: normal;
	font-weight: normal;
	margin-bottom: 2rem;
}

.seletor-linguagem {

	background: rgba(255, 255, 255, 0.16);
	border-radius: 8px;
	border-style: none;
	height: 3rem;

	font-family: Inter;
	font-style: normal;
	font-weight: normal;
	margin-bottom: 1rem;
	color: #FFFFFF;
}


.linguagem {
	background-color: #2d415b;
}

.cores{
	height: 3rem;
	background: rgba(196, 196, 196, 0.01);
	border: 1px solid #FFFFFF;
	box-sizing: border-box;
	border-radius: 8px;
	margin-bottom: 2rem;
	width: 100%;
}

.botao-salvar {
	height: 3rem;
	width: 100%;
	background: #5081FB;
	border-radius: 8px;
	cursor: pointer;
}

@media screen and (max-width: 1024px) {
	body {
		overflow-x: hidden;
		
	}

	.titulo-mobile {
		display: none;
	}



	.perfil {
		display: none;
	}

	.principal {
		flex-direction: column;
	}

	.codigo-wrapper{ 
		margin: 0;
		width: 100%;
		height: 100%;
	}

	.botao-highlight{
		margin-bottom: 1.5rem;
		width: 100%;
	}
	.campo-codigo{
		flex-direction: column;
		align-items: center;
		justify-items: center;
	}

	.campo-editavel {
		
		height: 75vw;
	}


	.menu-opcoes {
		position: absolute;
		right: 0px;
		height: 92vh;
		background-color: #2D415B;
		border-radius: 8px;
		top: 14vh;
		width: 30%;
		align-content: center;
		display: flex;
		flex-direction: column;
		justify-items: center;
		padding: 12%;
		transform: translateX(100%);
		transition: transform 0.5s ease-in;
		
	}

	.menu-opcoes li {
		opacity: 0;
	}

	.menu-ativo {
		transform: translateX(0%);
	
		
	}

	.burger {
		display: inline;
		cursor: pointer;
		
	}

	.perfil-mobile {
		display: block;
		margin-top: 25px;
	}

	hr {
		display: block;
		width: 100%;
		margin-top: 40px;
		opacity: 0.08;
	}

	.personalizacao {
		
		flex-direction: row;
		flex-wrap: wrap;
		width: 100%;
		justify-content: space-between;
	}

	.seletor-linguagem {
		width: 48%;
	}

	.cores {
		width: 48%;
	}

	.seu-projeto {
		width: 100%;
	}

	.titulo {
		width: 100%;
	}

	
}
@media screen and (max-width: 768px) {
	.busca {
		width:  30vw;
		transform: translateX(-250%);
		transition: transform 0.5s ease-in;
	}

	.busca-ativo{		
			transform: translateX(0%);
	}
	.busca-mobile {
		display: block;
		
	}

	.seletor-linguagem {
		width: 100%;
	}

	.cores {
		width: 100%;	
}




@keyframes fadeMenu {
	from{
		opacity: 0;
		transform: translateX(50px);
	}
	to{
		opacity: 1;
		transform: translateX(0px);
	}
}

.toggle .line1{
	transform: rotate(-45deg) translate(5px, 12px);
}

.toggle .line2{
	opacity: 0;
}

.toggle .line3{
	transform: rotate(45deg) translate(5px, -12px);
}
